language: java
jdk:
  - openjdk11

branches:
  only:
    - main

#Travic CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

#CI 실행 완료 시 메일로 알림
notifications:
  email:
    recipients:
      - dkfk2685@naver.com